
<% include head%>
<% include navbar%>


<!-- main header  -->
 <div class="container_fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items-center">

                    <figure>
                        <img src="images/about.png" alt="image" class="img-fluid" title="Ayush's Weather ">
                    </figure>

                </div>
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome To Ayush's Weather App</p>
                    <h1>About Us.....</h1>
                    <h1>I Am A <span class="text_clr">MERN </span> Stack Developer</h2>
                        <p>I Make Project On Weather App Please Check It Now....... </p>
                        <p> To Check The Weather Condition Of Your City.... </p>
                        <p> Click Below The Button</p>
                        <p style="font-size:xxx-large;">
                            &nbsp; &nbsp; &#8595;
                        </p>
                        <a href="/weather"><button>Check Now</button></a>
                </div>


                <!-- right side div -->

            </div>
        </div>
    </div>
 </div>
<!-- footer starts -->

 <footer>
    <p>Created With ♥ By Ayush </p>
 </footer>
 </body>

 </html>