<!DOCTYPE html>
<html lang="en">

<head>
    <!-- {{>headerlinks}} -->
    <% include head%>
</head>

<body>
    <% include navbar %>

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="thapa" class="img-fluid" title="thapa technical">
                        </figure>

                        <h1>Opps! Page Not Found</h1>
                                <p>Welcome To Ayush's Weather App</p>

                                <p> To Check The Weather Condition Of Your City.... </p>
                                <p> Click Below The Button</p>
                                <p style="font-size:xxx-large;">
                                    &nbsp; &nbsp; &#8595;
                                </p>
                                <a href="/weather"><button>Check Now</button></a>
                    </div>
                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    <!-- {{>footer}} -->

    <footer>
        <p>Created With ♥ By Ayush </p>
    </footer>
</body>

</html>