<!DOCTYPE html>
<html lang="en">

<%include head %>

    <body>
        <%include navbar %>
            <!-- main header -->
            <div class="containter-fluid main_header">
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto ">
        
                        <div class="main_content">
                            <form class="temp_form">
                                <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                                <input type="submit" value="search" id="submitBtn">
                            </form>
                        </div>
        
                        <div class="tempInformation">
                            <div class="top_layer">
                                <p id="day"></p>
                                <h1 id="today_data" style="color: white;"></h1>
                            </div>
                            <div class="main_layer ">
                                <p id="city_name">Get Output Here</p>
                                <div class="middle_layer data_hide">
                                    <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                                    <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            
     <script src="js/main.js"></script>       
     <script></script>
     <footer>
        <p>Created With ♥ By Ayush </p>
    </footer>
    </body>
</html>